html,body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'futura-pt', sans-serif;
	font-weight: 100;
	text-align: center;
	-webkit-perspective: 1200px;
	width: 100%;
	height: 100%;
	background-color: white;
}

#glcanvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

#title {
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 80px;
	font-family: 'futura-pt',sans-serif;
	font-weight: 100;
	width: 100%;
	text-align: center;
	color: black;
	cursor: default;
	pointer-events:none;
	opacity: 0;
	transition: 1s ease-in opacity, 1s ease-out transform;
	transform: translateY(-15px);
}
.wf-futurapt-n3-active.wf-active #title {
	opacity: 1;
	transform: translateY(0px);
}

#title ul,
#title li
{
	list-style: none;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

h1,h3,hr {
	display: inline-block;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 100;
	margin: 0;
	font-size:  40px;
	position: relative;
	top: -10px;
}

h3 {
	font-weight: 100;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-left: 10px;
	font-size: 10px;
	position: relative;
	top: -16px;
}

hr {
	background: black;
	border: 0px;
	opacity: 0.2;
	width: 1px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

a {
	text-decoration: none;
	color: #000;
	pointer-events: normal;
}

.content-3d {
	position: absolute;
	transform-style: preserve-3d;
	perspective: 800px;
	pointer-events: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

.content-3d > div {
	position: absolute;
	background: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding: 10px;
}

.content-3d h3 {
	top: 0;
}

.scene-editor {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 200px;
	background: #444;
	box-sizing: border-box;
	width: 100%;
	z-index: 10;
	padding: 10px;
    font-family: BlinkMacSystemFont, sans-serif;
    font-size: 11px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.editor .scene-editor {
	opacity: 1;
	pointer-events: all;
}

.object-edit {
	position: absolute;
	left: 8px;
	top: 8px;
	height: 20px;
	white-space: nowrap;	
}

.timestrip {
	right: 8px;
	height: 20px;
	top: 36px;
	left: 140px;
	width: auto;
	position: absolute;
	border-radius: 2px;

	white-space: nowrap;

	overflow-y: hidden;
	overflow-x: auto;

	z-index: 1;

	border: 1px solid #888;
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 8 20"><g><rect fill="%23666" x="0" y="0" width="1" height="20"/></g></svg>') -1px 0 / 8px 20px;
}

:hover::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: #666;
    transition: 0.3s;
}

.active-time {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 20px;
	margin-right: 200px;

	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 8 20"><g><rect fill="%23666" x="0" y="0" width="1" height="20"/></g></svg>') -1px 0 / 8px 20px, #333;
}

.active-time:after {
	position: absolute;
	right: -400px;
	content: "";
	display: block;
	width: 400px;
	height: 100%;
	pointer-events: none;
}

.keyframes {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.object-select {
	position: absolute;
	left: 10px;
	top: 10px;
	bottom: 8px;
	height: auto;
	width: 104px;
}

.object-select select {
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.scene-editor select {
	background: #444;
	border: 1px solid #888;
	color: #888;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}

.playback-controls {
	position: absolute;
	left: 140px;
	top: 10px;
	height: 20px;
	width: 214px;
	text-align: left;
	margin: 0;
	white-space: nowrap;
}

.mode-selector {
    position: absolute;
    left: 133px;
    bottom: 0px;
    text-align: right;
    transform: rotate(-90deg);
    white-space: nowrap;
    color: #888;
    font-size: 10px;
    text-transform: uppercase;
    transform-origin: 0 100%;
    width: 200px;
    box-sizing: border-box;
    padding-right: 11px;
    padding-left: 11px;
    cursor: default;
}

.mode-selector div {
	margin-left: 8px;
	display: inline-block;
}

.mode-selector div:hover {
	color: #ccc;
}

.scene-editor[data-mode="animation"] .mode-animation,
.scene-editor[data-mode="behavior"] .mode-behavior,
.scene-editor[data-mode="object"] .mode-object
{
	color: white;
	font-weight: bold;
	pointer-events: none;
}

.scene-editor .animation-editor,
.scene-editor .behavior-editor,
.scene-editor .object-editor
{
	display: none;
}

.scene-editor[data-mode="animation"] .animation-editor,
.scene-editor[data-mode="behavior"] .behavior-editor,
.scene-editor[data-mode="object"] .object-editor
{
	display: block;
}

.playback-controls button {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 2px;
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g></g></svg>') 50% 50% / 80% no-repeat, #444;
}

.playback-controls .rewind {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" transform="translate(-2, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/><polygon fill="%23888" transform="translate(2, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/></g></svg>') 50% 50% / 80% no-repeat, #444;
}

.playback-controls .previous-keyframe {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" transform="translate(-2, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/><polygon fill="%23888" transform="translate(2, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/></g></svg>') 50% 50% / 80% no-repeat, #444;
}

.playback-controls .previous-frame {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" transform="translate(0, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/></g></svg>') 50% 50% / 80% no-repeat, #444;
}

.playback-controls .fast-forward {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" transform="scale(-1, 1) translate(-16, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/><polygon fill="%23888" transform="scale(-1, 1) translate(-20, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/></g></svg>') 50% 50% / 80% no-repeat, #444;
}

.playback-controls .next-frame {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" transform="scale(-1, 1) translate(-18, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/></g></svg>') 50% 50% / 80% no-repeat, #444;
}

.playback-controls .next-keyframe {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" transform="scale(-1, 1) translate(-16, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/><polygon fill="%23888" transform="scale(-1, 1) translate(-20, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/></g></svg>') 50% 50% / 80% no-repeat, #444;
}

.playback-controls .play {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" transform="scale(-1, 1) translate(-18, 0)" points="12.1,4.1 11,3 6.1,7.9 5,9 6.1,10.1 11,15 12.1,13.9 12.1,9"/></g></svg>') 50% 50% / 90% no-repeat, #444;
}

.playing .playback-controls .play {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><rect fill="%23888" x="6" y="6" width="2" height="6"/><rect fill="%23888" x="10" y="6" width="2" height="6"/></g></svg>') 50% 50% / 90% no-repeat, #444;
}

.show-editor-controls .play {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" transform="scale(-1, 1) translate(-18, 0)" points="12.1,4.1 11,3 6.1,7.9 5,9 6.1,10.1 11,15 12.1,13.9 12.1,9"/></g></svg>') 50% 50% / 90% no-repeat;
}

.playing .show-editor-controls .play {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><rect fill="%23888" x="6" y="6" width="2" height="6"/><rect fill="%23888" x="10" y="6" width="2" height="6"/></g></svg>') 50% 50% / 90% no-repeat;
}


.editor-toggle {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 20px;
	width: 20px;
	text-align: right;
	margin: 0;
	z-index: 2;
}

.editor-toggle button {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-left: 2px;
}

.editor-toggle .hide-editor {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g transform="rotate(90 9 9)"><polygon fill="%23888" transform="scale(-1, 1) translate(-18, 0)" points="12.1,4.1 11,3 6.1,7.9 5,9 6.1,10.1 11,15 12.1,13.9 12.1,9"/></g></svg>') 50% 50% / 90% no-repeat, #444;
}


.show-editor-controls {
	position: absolute;
	right: 10px;
	bottom: 10px;
	height: 20px;
	text-align: right;
	margin: 0;
	transition: 0.3s 0.3s;
	z-index: 1;
}

.editor .show-editor-controls {
	opacity: 0;
	pointer-events: none;
}

.show-editor-controls button {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-left: 2px;
}

.show-editor-controls .show-editor {
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g transform="rotate(-90 9 9)"><polygon fill="%23888" transform="scale(-1, 1) translate(-18, 0)" points="12.1,4.1 11,3 6.1,7.9 5,9 6.1,10.1 11,15 12.1,13.9 12.1,9"/></g></svg>') 50% 50% / 90% no-repeat;
}


.keyframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 6px;
	height: 18px;
	cursor: pointer;
	background: #8c8;
	border: 1px solid #8f8;
	border-radius: 1px;
	opacity: 0.5;
}

.keyframe.selected {
	opacity: 1;
}

.playhead {
	position: absolute;
	top: 37px;
	left: 0;
	width: 1px;
	height: 154px;
	margin-left: 144px;
	cursor: pointer;
	background: #f00; 
	/*rgba(200, 127, 127, 0.5);*/
	/*border: 1px solid #f88;*/
	/*border-radius: 1px;*/
	z-index: 2;
	pointer-events: none;
}

.end-of-time {
	position: absolute;
	top: 0;
	left: 0;
	width: 13px;
	height: 18px;
	cursor: pointer;
	border: 1px solid #888;
	border-radius: 1px;
	z-index: 5;
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 18"><g><polygon fill="%23888" transform="scale(1, 1) translate(-5, 0)"  points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/><polygon fill="%23888" transform="scale(-1, 1) translate(-26, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/></g></svg>') 50% 50% / 70% no-repeat, #444;
}

.timestrip-scroll {
	right: 10px;
	height: 20px;
	top: 40px;
	left: 120px;
	width: auto;
	position: absolute;
	border-radius: 4px;
	background: #333;
}

.left-arrow {
	position: absolute;
	left: 0;
	top: 0;
	height: 18px;
	width: 18px;
	border: 1px solid #888;
	border-radius: 3px;
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/></g></svg>') 50% 50% / 90% no-repeat, #444;
}

.right-arrow {
	position: absolute;
	right: 0;
	top: 0;
	height: 18px;
	width: 18px;
	border: 1px solid #888;
	border-radius: 3px;
	background: #444;
	background: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"><g><polygon fill="%23888" transform="scale(-1, 1) translate(-18, 0)" points="12.1,4.1 11,3 6.1,7.9 6.1,7.9 5,9 5,9 5,9 6.1,10.1 6.1,10.1 11,15 12.1,13.9 7.3,9"/></g></svg>') 50% 50% / 90% no-repeat, #444;
}

.scroll-bar {
	position: absolute;
	left: 22px;
	top: 0;
	height: 18px;
	width: 180px;
	border: 1px solid #888;
	border-radius: 3px;
	background: #444;
}

.object-editor {
	position: absolute;
	left: 140px;
	top: 10px;
	bottom: 10px;
	right: 10px;
	width: auto;
	height: auto;
	overflow: auto;
}

.object-details {
	position: absolute;
	text-align: left;
	top: 0px;
	bottom: 1100px;
	left: 0px;
	width: 360px;
	height: auto;
	color: #888;
	font-weight: 400;
	border-left: 1px solid #666;
	padding-left: 20px;
}

.object-details.part-2 {
	left: 1475px;
	border-left: 1px solid #666;
	padding-left: 20px;
}

.object-editor {
	position: absolute;
	left: 140px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	white-space: nowrap;
	overflow: auto;
	overflow-y: hidden;
	box-sizing: border-box;
	padding-right: 40px;
	color: #888;
	text-align: left;
}

.object-editor .color-mixer {
	top: 10px;
	bottom: 10px;
	left: 0px;
	width: 216px;
	height: 180px;
	display: block;
	position: relative;
	padding-left: 20px;
	border-left: 1px solid #666;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.object-editor .specular {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 10px;
	text-align: center;
}

.object-editor .specular span {
	display: block;
}

.object-editor .specular input[type="range"] {
	width: 8px;
	height: 160px;
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
}

.scene-editor p > span {
	display: inline-block;
	width: 80px;
}

.scene-editor p {
	margin: 0;
	margin-top: 2px;
	margin-bottom: 2px;
}

input,
button {
	border: 1px solid #888;
	border-radius: 3px;
	background: #444;
	color: #888;
	margin-left: 10px;
	margin-right: 10px;
	outline: none;
}

button:active {
	background: #888;
	color: #222;
}

.scene-editor input {
	width: 50px;
}

.scene-editor input[type="number"] {
	width: 30px;
}

.scene-editor button {
	margin-left: 0;
	margin-right: 0;
	vertical-align: top;
	height: 20px;
}

.keyframe-buttons {
	position: absolute;
	text-align: left;
	top: 10px;
	left: 332px;
	width: auto;
	height: auto;
	color: #888;
	font-weight: 400;
	padding-left: 20px;
	white-space: nowrap;
}

.keyframe-editor {
	position: absolute;
	text-align: left;
	top: 64px;
	bottom: 10px;
	left: 140px;
	right: 10px;
	width: auto;
	height: auto;
	color: #888;
	font-weight: 400;
}

.keyframe-editor p {
	pointer-events: none;
}

.curve-editor {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	border: 1px solid #888;
	border-radius: 2px;

}

.curve-editor svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.curve-editor:before {
	position: absolute;
	z-index: 1;
	/*content: "";*/
	width: 100%;
	top: 50%;
	left: 0px;
	height: 1px;
	background: #666;
	display: block;
}





.contextmenu {
	position: fixed;
	z-index: 10000;
	background: #444;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	color: #888;
	font-size: 14px;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	border: 1px solid #666;
}

.contextmenu-background {
	position: fixed;
	z-index: 9999;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.contextmenu div {
	height: 26px;
	line-height: 24px;
	padding-left: 12px;
	padding-right: 12px;
	transition: 0.1s;
}

.contextmenu div:hover {
	background: #4b944d;
	color: white;
}

.contextmenu div.-copy:hover {
	background: #4b944d;
	color: white;
}

.contextmenu div.-paste:hover {
	background: #319a9a;
}

.contextmenu div.-delete:hover {
	background: #580c0c;
}

.contextmenu .spacer {
	border-bottom: 1px solid #666;
	height: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	margin-right: 4px;
	pointer-events: none;
}

.contextmenu .disabled {
	color: #333;
	pointer-events: none;
}

